@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');


.pokemon-container {
  display: flex;
}
.pokemon {
  border: 1px gray solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  gap: 10px;
  margin: 0 auto;
  max-width: 100%;
}

.pokemon-overview {
  margin: 10px;
  width: 180px;
  height: auto;
}
.pokemon-box{
  font-family: 'Sigmar One', cursive;
  border: 5px solid #FFCE31;
  padding: 5px;
  background-color: #ab87ff;
  border-radius: 10px;
  box-shadow: -5px 14px 38px -7px rgba(0,0,0,0.38);
  transition: 0.5s all ease-in-out;
}
.pokemon-box:hover{
  transform: scale(1.2);
}
.pokemon-image {
background-color: #F0E2E7;
width: 150px;
border-radius: 5px;
}

span {
  border-radius: 5px;
  margin: 3px;
  font-size: 14px;
}

/* cores do type */

.normal-type {
  background-color: #A4ACAF;
  padding: 2px 5px;  
  color: white;  
}
.grass-type {
  background-color: #9BCC50;
  padding: 2px 5px;  
  color: white;
}
.poison-type {
  background-color: #B97FC9;
  padding: 2px 5px;  
  color: white;  
}
.fire-type {
  background-color: #FD7D24;
  padding: 2px 5px;  
  color: white;  
}
.water-type {
  background-color: #4592C4;
  padding: 2px 5px;  
  color: white;  
}
.flying-type {
  background-color: #94ccf1;
  padding: 2px 5px;  
  color: white;  
}
.bug-type {
  background-color: #729F3F;
  padding: 2px 5px;  
  color: white;  
}




/* Links */
a {
  color: #000;
  text-decoration: none;
}
a:visited {
   color: #000;
   text-decoration: none;
}
a:hover {
   color: #FFCE31;
   text-decoration: none;
}
a:active {
   color: #333;
   text-decoration: none;
}