@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
.pokedex {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

body {
  background-image: url('https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;

}
.pokedex-buttons-container {
  display: flex;
}

.pokedex-buttons-panel {
  display: grid;
  grid-template-columns: repeat(9,minmax(0,1fr));
}

.pokedex-button:disabled {
  background-color: #d0d0d0;
}

.filter-button {
  font-family: 'Sigmar One', cursive;
  background-color: #FFCE31;
  font-size: 14px;
  border: #d0d0d0;
  border-radius: 5px;
  color: black;
  height: 40px;
  margin: 10px;
  width: 80px;
  cursor: pointer;
}

.all-button {
  height: 100px;
  width: 100px;
}